.top{
  background-image: url(landing.jpg);
  height: 250px;
}
.breakfast{
  background-image: url(breakfast.jpg);
  height: 150px;
}
.lunch{
  background-image: url(lunch.jpg);
  height: 150px;
}
.dinner{
  background-image: url(dinner.jpg);
  height: 150px
}
.conta{
  background-image: url(foodsBg.jpg);
}
.contain{
  background-image: url(subscribe.jpg);
  height: 150px;
}
